/* ---------------------- */
/* -- General Elements -- */
/* -----------↓---------- */

:root {
  /* Color palette (page) */
  --main-color: #1d5890;
  --secondary-color: #393939;
  --detail1-color: #ffffff;
  --detail2-color: #000000;
  /* Fonts */
  --headers-fonts: Kanit, serif, arial;
  --paragraphs-fonts: Syne, sans-serif, garamond;
  /* others elements */
  --background: linear-gradient(to right, var(--main-color), var(--secondary-color));
}

body {
  max-width: 1400px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.hidden {
  display: none;
}

/* -----------x---------- */
/* - Home Page Elements - */
/* -----------↓---------- */

/* -----------x---------- */
/* - Card Page Elements - */
/* -----------↓---------- */

/* -----------x---------- */
/*  Result Page Elements  */
/* -----------↓---------- */

#card_box {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

#card_box div,
#card_box img {
  background-color: var(--detail2-color);
  width: 250px;
  height: 350px;
  border-radius: 12px;
}

.rotate-180 {
  transform: rotate(180deg);
}

.rotate_button,
.flip_button {
  bottom: 300px;
  left: 201px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.erase_button, .add_button {
  bottom: 54.5px;
  left: 200px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 10px;
}

.rotate_button,
.flip_button, .erase_button, .add_button {
  position: relative;
  width: 50px;
  height: 50px;
  z-index: 1;
  width: 50px;
  height: 50px;
  opacity: 0.75;
}

#hover_name {
  background-color: var(--secondary-color);
  color: var(--detail1-color);
  padding: 10px;
  border-radius: 15px;
  z-index: 2;
}
