@media (max-width: 1000px) {
  header {
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
  #page-header {
    flex-direction: row;
    height: auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  #page-header div, header a {
  margin: 0;
  }
  header a {
    padding: 20px;
    border-radius: 25px;
  }
  /*main page*/
  #root {
    margin-top: 225px;
    max-width: 90%;
    text-align: center;
  }
  #root.main_page {
    display: inherit;
    flex-direction: inherit;
    justify-content: center;
    align-items: center;
  }
  /*card page*/
  #card_visualizer {
    display: grid;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: auto;
  }
  #input_field {
    display: flex;
    flex-direction: column;
  }
  #input_field select {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
  }
  #input_field button {
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
  }
  .card_img {
    grid-row: 1/2;
    border-radius: 5px;
  }
  #alt_button {
    grid-row: 2/3;
    margin-top: 0px;
  }
  #card_data {
    grid-row: 3/4;
  }
  #card_data a {
    align-self: center;
  }
  #legalities {
    grid-row: 4/5;
  }
  #legalities li {
    width: 90%;
    margin-right: auto;
  }
  #rulings {
    grid-row: 5/6;
  }
  #rulings li {
    width: 100%;
  }
  #rulings li p {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
  #rulings li, #card_data, #legalities, #rulings {
    display: flex;
    flex-direction: column;
  }
  #alt_button, #card_img, #card_data, #legalities, #rulings {
    grid-column: 1/2;
  }
  /* sets page*/
  #set_list, #set_list a, #set_list span{
    width: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  #set_list ul {
    padding: 0px;
  }
  #set_list p {
    margin: 0;
    padding: 20px 0px;
    justify-self: center;
  }
  #set_list li {
    margin-top: 50px;
  }
  #set_list p::before {
    content: "";
  }
  /*result page*/
  #card_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #display{
    border-top-right-radius: 25px;
    border-top: 5px solid black;
    top: 250px;
  }
  #night_mode {
    border-radius: 0px;
    margin: 0;
    width: 100%;
  }
  #set_list {
    margin-top: 0;
    margin-right: 35px;
  }
  .awaiting {
    margin-top: 25px;
  }
}